*{

    margin: 0;
    padding:0;
}

.cabecalho{

background-color: #421AE4;
background-color: aliceblue;
display: flex;
justify-content:space-around;
align-items: center;
padding: 24px;
}  


.cabecalho-imagem{
    width: 15%;
}